<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="postgres"
		 providerName="System.Data.ProviderName"
		 connectionString="Server=localhost;Port=5432;Username=postgres;Password=mypassword;Database=monster_trading_cards;" />
	</connectionStrings>
	<appSettings>
		<add key="ClearDBOnStartup" value="true"/>
	</appSettings>
</configuration>
